/*
font-family: 'Inter', sans-serif;
font-family: 'Lemonada', cursive;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: orange;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight:100;
    background-color: #fff;
    word-spacing: 1.5px;
    letter-spacing: 1px;  
    text-rendering: optimizeLegibility;
}
h1,h2,h3{
    font-family:'Lemonada', cursive;
    text-transform: uppercase;
    font-weight: 300;
}
h1{
   color:#ccc;
  font-size: 180%;   
}
h2{
    color: darkgoldenrod;
    font-size:145%;
    text-align: center;
}
h3{
    font-size:90%;
    margin-left: 15px;
    color: darkgoldenrod;
}
h2:after{
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    background-color: darkgoldenrod;
    margin: 0 auto;
    margin-top:5px;
}
/*------------BASIC SETUP CSS---------------------------------------------------*/
.row{
    max-width: 1140px;
    margin: auto;    
}
section{
    padding: 80px 0;
}
.clearFix:after{
    content:" ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
/*------------BASIC SETUP CSS---------------------------------------------------*/
.btn {
    text-decoration: none;
    border: 2px solid #f59f01;
    border-radius: 200px;
    padding: 3px 25px;
    text-transform: uppercase;
    font-family:'Lemonada', cursive;   
}

.main-head-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-heading {
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.58),rgba(0, 0, 0, 0.7)),url(img/bc2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navs {
    float: right;
    list-style: none;
    padding-top:20px;
}
.navs li a{
    text-decoration: none;
    color: aliceblue;
    font-family:'Lemonada', cursive;
    transition:border-bottom 0.35s;
}
.navs li a:hover,
.navs li a:active{
    border-bottom:2px solid orange;
}

.navs li{
    display: inline-block;
    margin-left: 40px;
    font-weight:300;
}

.logo {
    float: left;
    width: 130px;
}

.btn-full:link, 
.btn-full:visited {
color: aliceblue;
background-color: darkgoldenrod;
border: 2px solid darkgoldenrod;
transition:background-color 0.35s;
}
.btn-full:hover, 
.btn-full:active{
background-color: transparent;
color: darkgoldenrod; 
}

.btn-empty:link, 
.btn-empty:visited{
    color: darkgoldenrod;
    border: 2px solid darkgoldenrod;
}


.p-content {
    font-family: 'Inter', sans-serif; 
    font-size: 80%;
    line-height:120%;
    width: 70%;
    margin-left:15%;
    word-spacing: 0.5px;
    margin-top: 10px;
    color: #272727;
}

.common-txt {
    font-size: 80%;
    line-height: 120%;
    text-align: justify;
    word-spacing: 0.5px;
    letter-spacing: normal;
}

.bg-fv {
    display: block;
    width: 80px;
    height: 80px;
    margin-top:15px;
    margin-left:60px;
}

.third-sec {
    background-color:#e2e2e2;
}

.first-dv img {
    width:75%;
    height: auto;
    float: right;
    padding-right:20px;
}

.first-dv {
    padding-top:20px;
}

.second-dv {
    padding-top:60px;
}

.list-dv {
   display: block; 
    margin-bottom: 45px;
}
.list-dv div{
    display: block;
    border: 2px solid darkgoldenrod;
    padding: 2px;
    float: left;
    border-radius:50%;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 140%;
    margin-right: 20px;
   
}
.list-dv p{
   line-height: 120%;
   font-family: 'Lemonada', cursive;
   font-size:75%;
   vertical-align: middle;
   margin-top:10px;
}
.ls-gl {
    list-style: none;
    width: 100%;
}
.ls-gl li{
    width: 25%;
    display: block;
    float: left
}


.glary {
    width: 100%;
    margin: 0;
    background-color: #000;
}
.glary img{
    width: 100%;
    overflow: hidden;
    height: auto;
    margin:0;
    transform: scale(1.02);
    transition: transform 0.3s;
    opacity: 0.4;
}
.glary img:hover{
    transform: scale(1);
    opacity: 1;
}

.galary-sec {
    padding: 0;
}

.card {
   box-shadow: 10px 10px 5px #aaaaaa;
    margin-top: 20px;
}
.card div{
    padding: 15px;
    border-bottom: 1px solid #ccc;
}
.card div:first-child{
    background-color: #ccc;
}
.card div span{
    font-size: 135%;
    color: orange;
}
.card div p{
    font-size:90%;
    text-transform: uppercase;
}
.card div ul{
    list-style: none;
}
.card div:last-child{
    text-align: center;
}

.icon-sm {
    color: darkgoldenrod;
}
